body, html {
    height: 100%;
    margin-top: 70px;
    
}

h1, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.navbar {
    background-color: #132743;
    color: white;
}

.checkout-form h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.btn-outline-success {
    color: white;
}

.btn-primary {
    background-color: #407088;
    border-radius: 16px;
    margin: 5px;
}

.btn-primary:hover {
    background-color: #E5B2CA;
    color: black;
}

#product-image {
    width: 100%;
    height: auto;
}

.dialog-container {
    width: 80%;   
    margin: auto; 
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    dialog {
        max-width: 100%; 
        width: auto;   
        max-height: 100%; 
        overflow: auto; 
    }
}

/* div#cart-holder.container {
    #title {
        margin-right: 50px;
    }
} */

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
    height: 250px;  
    object-fit: cover;  
}

  
.checkout-row {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
margin: 0 -16px;
}

.checkout-col-50 {
-ms-flex: 50%; /* IE10 */
flex: 50%;
}

.checkout-col-75 {
-ms-flex: 75%; /* IE10 */
flex: 75%;
}

.checkout-col-50,
.checkout-col-75 {
padding: 0 16px;
}

.checkout-container {
background-color: #f2f2f2;
padding: 5px 20px 15px 20px;
border: 1px solid lightgrey;
border-radius: 3px;
}

.checkout-form [type=text] {
width: 100%;
margin-bottom: 20px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 3px;
}

.checkout-form  {
margin-bottom: 10px;
display: block;
display: none;
}

#totalAmount {
    font-weight: bolder;
    margin-top: 16px;
}

.icon-container {
margin-bottom: 20px;
padding: 7px 0;
font-size: 24px;
}

.checkout-btn {
background-color: #407088;
color: white;
padding: 12px;
margin: 10px 0;
border: none;
width: 100%;
border-radius: 3px;
cursor: pointer;
font-size: 17px;
}

.checkout-btn:hover {
    background-color: #ffb5b5;
    color: black;
}

a {
color: #2196F3;
}

hr {
border: 1px solid lightgrey;
}

span.price {
float: right;
color: grey;
}

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}

.custom-card-body {
    min-height: 250px;
}

.pages-nav {
    list-style: none;
    padding: 5px;
    margin: 5px;
    display: flex;
}

.pages-nav li {
    margin-right: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    margin: 10px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    margin: 10px;
}

.fa-instagram {
    background: #D04063;
    color: white;
    margin: 10px;
}


.checkout-selected-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100px;
    border-radius: 16px;
    padding: 5px;
    background-color: #407088;
    color: white;
    position: fixed;
    top: 100px;
    right: 170px;
}

.checkout-selected-items:hover {
    background-color: #E5B2CA;
    color: black;
}

.delete-selected-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100px;
    border-radius: 16px;
    padding: 5px;
    background-color: #407088;
    color: white;
    position: fixed;
    top: 100px;
    right: 50px;
}

.delete-selected-items:hover {
    background-color: #E5B2CA;
    color: black;
}

#select-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 100px;
    position: fixed;
    top: 100px;
    left: 540px;
}

.select-all-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 615px;
    border: 2px solid black;
    border-radius: 16px;
    padding: 5px;
    background-color: #407088;
    color: white;
    width: 100px;
}

#cart-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 150px;
    border: 1px solid #ccc ;
    padding: 10px;
}

.product-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    border: 1px inset #ccc;
}

.product-card p {
    margin: 5px;
}


.increase,
.decrease {
    background-color: transparent;
    border: 0.5px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
}

#cart-total-price {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 16px;
    padding: 5px;
    background-color: #407088;
    color: white;
    width: 150px;
}

.content-section {

}