<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if title %}
        <title>Pharoahz - {{ title }}</title>
    {% else %}
        <title>Pharoahz Cart</title>
    {% endif %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous" defer>
    </script>
  </head>
  <body>

      <header class="container-fluid">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">Pharoahz</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{{ url_for('home') }}"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('products') }}">Products</a>
                </li>
                <li class="nav-item">
                  {% if current_user.is_authenticated %}
                    <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                  {% else %}
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                  {% endif %}
                </li>
                <li class="nav-item">
                    {% if current_user.is_authenticated %}
                      <a class="nav-link" href="{{ url_for('logout') }}"></a>
                    {% else %}
                      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    {% endif %}
                </li>
                
              </ul>
              <form class="d-flex me-3" role="search">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    {% if current_user.is_authenticated %}
                      <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                    {% endif %}
                  </li>
                </ul>
                
              </form>
              <a class="navbar-brand me-2" href="{{ url_for('cart_page') }}" id="Shopping"><i style="font-size:24px" class="fa">&#xf07a;</i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
      </header>
      
    <main class="container">
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, messages in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
        {% block content %}{% endblock %}
    </main>

    <footer>
      <div class="layout-row">
        <div class="layout-column">
          <section class="newsletter">
            <h2>Subscription or Newsletter Sign-Up</h2>
            <p>If you'd like to receive our latest news and updates, please subscribe to our newsletter:</p>
            <form action="subscribe.php" method="post">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <input type="submit" value="Subscribe">
            </form>
          </section>
          <section class="contact-info">
            <h2>Contact Information</h2>
            <address>
                <p>Pharoahz:</p>
                <p>123 Alimony Street</p>
                <p>Houston , TX, 77089</p>
                <p>Phone: (832) 456-7890</p>
                <p>Email: <a href="mailto:contact@example.com">customerservice@pharoahz.com</a></p>
                <p>Fax: (123) 456-7891</p>
            </address>
        </div>
        <div class="layout-column">
          <ul class="pages-nav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="#privacy">Privacy Policy</a></li>
            <li><a href="#terms">Terms of Service</a></li>
        </ul>
        <div class="social-icons">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
        </div>
        </div>
        <p id="copyright">
          Copyright &copy; 2023 Pharoahz. All rights reserved.
        </p>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
  </body>
</html>
